* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "montserattç", sans-serif;
}

.app {
  background-image: url(../images/cold-pic.avif);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm{
  background-image: url(../images/warm.jpg);
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 25px;
}

.search-box{
  width: 90%;
  margin: 0px 0px 0px 40px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 10px 10px;
  margin: -25px;
  box-shadow: 0 5px black;
  color: #313131;
  font-size: 20px;
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box{
  margin: 100px 0px 0px 0px;
  width: 100%;
}

.location{
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date{
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  margin-top: 10px;
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  margin: 40px 0px 0px 0px;
  color: #FFF;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

}